In [96]:
import pandas as pd
import numpy as np

In [97]:
df = pd.read_csv('../data/raw/monday.csv', sep=';', index_col=0, parse_dates=True)

In [98]:
df.head(40)

                     customer_no  location
timestamp
2019-09-02 07:03:00            1     dairy
2019-09-02 07:03:00            2     dairy
2019-09-02 07:04:00            3     dairy
2019-09-02 07:04:00            4     dairy
2019-09-02 07:04:00            5    spices
2019-09-02 07:04:00            6    spices
2019-09-02 07:04:00            7    spices
2019-09-02 07:04:00            8     fruit
2019-09-02 07:05:00            1  checkout
2019-09-02 07:05:00            5  checkout
2019-09-02 07:05:00            6     dairy
2019-09-02 07:05:00            7    drinks
2019-09-02 07:06:00            2  checkout
2019-09-02 07:06:00            3  checkout
2019-09-02 07:06:00            9     dairy
2019-09-02 07:06:00           10     fruit
2019-09-02 07:06:00           11    drinks
2019-09-02 07:06:00           12    spices
2019-09-02 07:06:00           13     dairy
2019-09-02 07:06:00           14     fruit
2019-09-02 07:07:00            8  checkout
2019-09-02 07:07:00           12    drinks
2019-09-02 07:07:00           15    spices
2019-09-02 07:07:00           16     dairy
2019-09-02 07:08:00            4  checkout
2019-09-02 07:08:00           10  checkout
2019-09-02 07:08:00           11  checkout
2019-09-02 07:08:00           15     fruit
2019-09-02 07:09:00            7    spices
2019-09-02 07:09:00           14  checkout
2019-09-02 07:09:00           16    spices
2019-09-02 07:10:00           12  checkout
2019-09-02 07:11:00            7     fruit
2019-09-02 07:11:00           16  checkout
2019-09-02 07:11:00           17     fruit
2019-09-02 07:12:00            9     fruit
2019-09-02 07:12:00           15  checkout
2019-09-02 07:12:00           18     fruit
2019-09-02 07:12:00           19    spices
2019-09-02 07:12:00           20    drinks

In [99]:

resDF = df.groupby('customer_no').resample('1min').ffill()
resDF.head(20)

                                 customer_no  location
customer_no timestamp
1           2019-09-02 07:03:00            1     dairy
            2019-09-02 07:04:00            1     dairy
            2019-09-02 07:05:00            1  checkout
2           2019-09-02 07:03:00            2     dairy
            2019-09-02 07:04:00            2     dairy
            2019-09-02 07:05:00            2     dairy
            2019-09-02 07:06:00            2  checkout
3           2019-09-02 07:04:00            3     dairy
            2019-09-02 07:05:00            3     dairy
            2019-09-02 07:06:00            3  checkout
4           2019-09-02 07:04:00            4     dairy
            2019-09-02 07:05:00            4     dairy
            2019-09-02 07:06:00            4     dairy
            2019-09-02 07:07:00            4     dairy
            2019-09-02 07:08:00            4  checkout
5           2019-09-02 07:04:00            5    spices
            2019-09-02 07:05:00            5  checkout
6           2019-09-02 07:04:00            6    spices
            2019-09-02 07:05:00            6     dairy
            2019-09-02 07:06:00            6     dairy

In [100]:
resDF['next'] = resDF.groupby(resDF['customer_no']).shift(-1)
resDF

                                 customer_no  location      next
customer_no timestamp
1           2019-09-02 07:03:00            1     dairy     dairy
            2019-09-02 07:04:00            1     dairy  checkout
            2019-09-02 07:05:00            1  checkout       NaN
2           2019-09-02 07:03:00            2     dairy     dairy
            2019-09-02 07:04:00            2     dairy     dairy
...                                      ...       ...       ...
1444        2019-09-02 21:48:00         1444    spices  checkout
            2019-09-02 21:49:00         1444  checkout       NaN
1445        2019-09-02 21:49:00         1445     dairy       NaN
1446        2019-09-02 21:50:00         1446     dairy       NaN
1447        2019-09-02 21:50:00         1447     fruit       NaN

[10765 rows x 3 columns]

In [101]:
resDF = resDF.rename(columns={'location': 'prev'})
resDF

                                 customer_no      prev      next
customer_no timestamp
1           2019-09-02 07:03:00            1     dairy     dairy
            2019-09-02 07:04:00            1     dairy  checkout
            2019-09-02 07:05:00            1  checkout       NaN
2           2019-09-02 07:03:00            2     dairy     dairy
            2019-09-02 07:04:00            2     dairy     dairy
...                                      ...       ...       ...
1444        2019-09-02 21:48:00         1444    spices  checkout
            2019-09-02 21:49:00         1444  checkout       NaN
1445        2019-09-02 21:49:00         1445     dairy       NaN
1446        2019-09-02 21:50:00         1446     dairy       NaN
1447        2019-09-02 21:50:00         1447     fruit       NaN

[10765 rows x 3 columns]

In [8]:
resDF.loc[resDF['customer_no']==1445]

                                 customer_no   prev next
customer_no timestamp
1445        2019-09-02 21:49:00         1445  dairy  NaN

In [102]:
resDF.loc[(resDF['prev']=='checkout') & (resDF['next'].isna())]

                                 customer_no      prev next
customer_no timestamp
1           2019-09-02 07:05:00            1  checkout  NaN
2           2019-09-02 07:06:00            2  checkout  NaN
3           2019-09-02 07:06:00            3  checkout  NaN
4           2019-09-02 07:08:00            4  checkout  NaN
5           2019-09-02 07:05:00            5  checkout  NaN
...                                      ...       ...  ...
1435        2019-09-02 21:44:00         1435  checkout  NaN
1436        2019-09-02 21:46:00         1436  checkout  NaN
1438        2019-09-02 21:47:00         1438  checkout  NaN
1442        2019-09-02 21:49:00         1442  checkout  NaN
1444        2019-09-02 21:49:00         1444  checkout  NaN

[1437 rows x 3 columns]

In [103]:
thieves = resDF.loc[(resDF['prev']!='checkout') & (resDF['next'].isna())]
thieves

                                 customer_no    prev next
customer_no timestamp
1430        2019-09-02 21:49:00         1430   fruit  NaN
1433        2019-09-02 21:49:00         1433   fruit  NaN
1437        2019-09-02 21:47:00         1437   dairy  NaN
1439        2019-09-02 21:46:00         1439   fruit  NaN
1440        2019-09-02 21:49:00         1440  spices  NaN
1441        2019-09-02 21:49:00         1441  spices  NaN
1443        2019-09-02 21:48:00         1443   dairy  NaN
1445        2019-09-02 21:49:00         1445   dairy  NaN
1446        2019-09-02 21:50:00         1446   dairy  NaN
1447        2019-09-02 21:50:00         1447   fruit  NaN

In [133]:
# pew = pd.DataFrame({'timestamp':[], 'customer_no':[], 'prev':[], 'next':[]})
# end = f'{thieves.index.get_level_values(1).date.min()} 21:50:00'

# dx = []

# for index, values in thieves.iterrows():
#     date_range
#     start = index[1]
    
#     date_range = pd.DataFrame({'timestamp': pd.date_range(start=start, end=end, freq='1min'),
#                                'customer_no': values[0],
#                                'prev': values[1],
#                                'next': values[1]})
#     dx.append(date_range)
    
# first = dx[0]
# for d in range(1,len(dx)):
#     first = first.append(dx[d])
    
# # first.set_index('timestamp')
# first

            timestamp  customer_no    prev    next
0 2019-09-02 21:49:00         1430   fruit   fruit
1 2019-09-02 21:50:00         1430   fruit   fruit
0 2019-09-02 21:49:00         1433   fruit   fruit
1 2019-09-02 21:50:00         1433   fruit   fruit
0 2019-09-02 21:47:00         1437   dairy   dairy
1 2019-09-02 21:48:00         1437   dairy   dairy
2 2019-09-02 21:49:00         1437   dairy   dairy
3 2019-09-02 21:50:00         1437   dairy   dairy
0 2019-09-02 21:46:00         1439   fruit   fruit
1 2019-09-02 21:47:00         1439   fruit   fruit
2 2019-09-02 21:48:00         1439   fruit   fruit
3 2019-09-02 21:49:00         1439   fruit   fruit
4 2019-09-02 21:50:00         1439   fruit   fruit
0 2019-09-02 21:49:00         1440  spices  spices
1 2019-09-02 21:50:00         1440  spices  spices
0 2019-09-02 21:49:00         1441  spices  spices
1 2019-09-02 21:50:00         1441  spices  spices
0 2019-09-02 21:48:00         1443   dairy   dairy
1 2019-09-02 21:49:00         1443   dairy   dairy
2 2019-09-02 21:50:00         1443   dairy   dairy
0 2019-09-02 21:49:00         1445   dairy   dairy
1 2019-09-02 21:50:00         1445   dairy   dairy
0 2019-09-02 21:50:00         1446   dairy   dairy
0 2019-09-02 21:50:00         1447   fruit   fruit

In [140]:
pew = pd.DataFrame({'timestamp':[], 'customer_no':[], 'prev':[], 'next':[]})
end = f'{thieves.index.get_level_values(1).date.min()} 21:50:00'

for index, values in thieves.iterrows():
    date_range
    start = index[1]
    
    date_range = pd.DataFrame({'timestamp': pd.date_range(start=start, end=end, freq='1min'),
                               'customer_no': values[0],
                               'prev': values[1],
                               'next': values[1]})
    pew = pd.concat([pew, date_range])

            timestamp  customer_no    prev    next
0 2019-09-02 21:49:00       1430.0   fruit   fruit
1 2019-09-02 21:50:00       1430.0   fruit   fruit
0 2019-09-02 21:49:00       1433.0   fruit   fruit
1 2019-09-02 21:50:00       1433.0   fruit   fruit
0 2019-09-02 21:47:00       1437.0   dairy   dairy
1 2019-09-02 21:48:00       1437.0   dairy   dairy
2 2019-09-02 21:49:00       1437.0   dairy   dairy
3 2019-09-02 21:50:00       1437.0   dairy   dairy
0 2019-09-02 21:46:00       1439.0   fruit   fruit
1 2019-09-02 21:47:00       1439.0   fruit   fruit
2 2019-09-02 21:48:00       1439.0   fruit   fruit
3 2019-09-02 21:49:00       1439.0   fruit   fruit
4 2019-09-02 21:50:00       1439.0   fruit   fruit
0 2019-09-02 21:49:00       1440.0  spices  spices
1 2019-09-02 21:50:00       1440.0  spices  spices
0 2019-09-02 21:49:00       1441.0  spices  spices
1 2019-09-02 21:50:00       1441.0  spices  spices
0 2019-09-02 21:48:00       1443.0   dairy   dairy
1 2019-09-02 21:49:00       1443.0   dairy   dairy
2 2019-09-02 21:50:00       1443.0   dairy   dairy
0 2019-09-02 21:49:00       1445.0   dairy   dairy
1 2019-09-02 21:50:00       1445.0   dairy   dairy
0 2019-09-02 21:50:00       1446.0   dairy   dairy
0 2019-09-02 21:50:00       1447.0   fruit   fruit

In [122]:
first.reset_index(inplace=True)

In [123]:
first = first.set_index(keys=['customer_no', 'timestamp'], drop=False)
first = first.drop(axis=1, columns=['index', 'timestamp'])
first

                                 customer_no    prev    next
customer_no timestamp
1430        2019-09-02 21:49:00         1430   fruit   fruit
            2019-09-02 21:50:00         1430   fruit   fruit
1433        2019-09-02 21:49:00         1433   fruit   fruit
            2019-09-02 21:50:00         1433   fruit   fruit
1437        2019-09-02 21:47:00         1437   dairy   dairy
            2019-09-02 21:48:00         1437   dairy   dairy
            2019-09-02 21:49:00         1437   dairy   dairy
            2019-09-02 21:50:00         1437   dairy   dairy
1439        2019-09-02 21:46:00         1439   fruit   fruit
            2019-09-02 21:47:00         1439   fruit   fruit
            2019-09-02 21:48:00         1439   fruit   fruit
            2019-09-02 21:49:00         1439   fruit   fruit
            2019-09-02 21:50:00         1439   fruit   fruit
1440        2019-09-02 21:49:00         1440  spices  spices
            2019-09-02 21:50:00         1440  spices  spices
1441        2019-09-02 21:49:00         1441  spices  spices
            2019-09-02 21:50:00         1441  spices  spices
1443        2019-09-02 21:48:00         1443   dairy   dairy
            2019-09-02 21:49:00         1443   dairy   dairy
            2019-09-02 21:50:00         1443   dairy   dairy
1445        2019-09-02 21:49:00         1445   dairy   dairy
            2019-09-02 21:50:00         1445   dairy   dairy
1446        2019-09-02 21:50:00         1446   dairy   dairy
1447        2019-09-02 21:50:00         1447   fruit   fruit

In [126]:
new = resDF.append(first)

In [135]:
new.loc[new['customer_no']==1430]

                                 customer_no   prev   next
customer_no timestamp
1430        2019-09-02 21:38:00         1430  fruit  fruit
            2019-09-02 21:39:00         1430  fruit  fruit
            2019-09-02 21:40:00         1430  fruit  fruit
            2019-09-02 21:41:00         1430  fruit  dairy
            2019-09-02 21:42:00         1430  dairy  fruit
            2019-09-02 21:43:00         1430  fruit  fruit
            2019-09-02 21:44:00         1430  fruit  fruit
            2019-09-02 21:45:00         1430  fruit  fruit
            2019-09-02 21:46:00         1430  fruit  fruit
            2019-09-02 21:47:00         1430  fruit  dairy
            2019-09-02 21:48:00         1430  dairy  fruit
            2019-09-02 21:49:00         1430  fruit    NaN
            2019-09-02 21:49:00         1430  fruit  fruit
            2019-09-02 21:50:00         1430  fruit  fruit

#### Erase rows that have no checkout (they are 10) and still keep every previous transition 
#### The transition that we drop is from some location to NaN

In [94]:
resDF = resDF.drop(thieves.index)

resDF = resDF.append(first)

resDF.tail(20)

KeyError: "[(1430, Timestamp('2019-09-02 21:49:00'))\n (1433, Timestamp('2019-09-02 21:49:00'))\n (1437, Timestamp('2019-09-02 21:47:00'))\n (1439, Timestamp('2019-09-02 21:46:00'))\n (1440, Timestamp('2019-09-02 21:49:00'))\n (1441, Timestamp('2019-09-02 21:49:00'))\n (1443, Timestamp('2019-09-02 21:48:00'))\n (1445, Timestamp('2019-09-02 21:49:00'))\n (1446, Timestamp('2019-09-02 21:50:00'))\n (1447, Timestamp('2019-09-02 21:50:00'))] not found in axis"

### Change NaN to checkout

In [113]:
resDF = resDF.replace(np.nan, 'checkout', regex=True)

In [114]:
resDF

                                 customer_no      prev      next
customer_no timestamp
1           2019-09-02 07:03:00            1     dairy     dairy
            2019-09-02 07:04:00            1     dairy  checkout
            2019-09-02 07:05:00            1  checkout  checkout
2           2019-09-02 07:03:00            2     dairy     dairy
            2019-09-02 07:04:00            2     dairy     dairy
...                                      ...       ...       ...
1442        2019-09-02 21:48:00         1442     fruit  checkout
            2019-09-02 21:49:00         1442  checkout  checkout
1443        2019-09-02 21:47:00         1443     fruit     dairy
1444        2019-09-02 21:48:00         1444    spices  checkout
            2019-09-02 21:49:00         1444  checkout  checkout

[10755 rows x 3 columns]

In [119]:
prob_matrix = pd.crosstab(resDF['prev'], resDF['next'], normalize=0).round(3)
prob_matrix

next      checkout  dairy  drinks  fruit  spices
prev
checkout     1.000  0.000   0.000  0.000   0.000
dairy        0.089  0.745   0.062  0.052   0.052
drinks       0.208  0.011   0.611  0.091   0.079
fruit        0.205  0.088   0.051  0.608   0.048
spices       0.144  0.192   0.177  0.097   0.390